*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.stars{
    position: absolute;
}

.hills{
    position: absolute;
    bottom: 0;
}

body{
    font-family: "Red Hat Text",sans-serif;
    background-color: hsl(235,16%,14%);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.container h1{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}   


.countdown div{
    margin: 10px;
}


.countdown p{
    padding: 20px;
    background-color: hsl(236,21%,26%);
    font-size: 46px;
    padding: 20px;
    border-radius: 5px;
    color: hsl(345,95%,68%);
}

.countdown h3{
    color: hsl(237,18%,59%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
}

.socials{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.socials ul{
    display: flex;
}

.socials ul li{
    margin: 0 20px;
}

@media (max-width:500px){
    .container {
        max-width: auto;
    }
}


@media (min-width:1440px){
    .stars img, .hills img{
        width: 1600px;
    }
}

@media (min-width:1600px){
    .stars img, .hills img{
        width: 1920px;
    }
}
